body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.two-column-bullet {
  columns: 2;
  list-style-type: none;
  padding: 0;
}

.two-column-bullet li {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.divider {
  border: none;
  border-top: 3px solid #524b4a;
  margin: 40px auto;
  width: 50%;
}

.button {
  display: inline-block;
  margin-right: 14px;
  margin-bottom: 14px;
  padding: 13px 23px;
  border-style: solid;
  border-width: 1px;
  border-color: #292322;
  border-radius: 3px;
  background-color: #524b4a;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  border-style: solid;
  border-width: 1px;
  border-color: #292322;
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #000;
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  color: #292322;
  text-shadow: none;
  mix-blend-mode: normal;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: 'PT Sans', sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.13);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
  font-family: Quicksand, sans-serif;
  color: #292322;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, 0.5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #524b4a;
  color: #524b4a;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.main {
  margin-top: 73px;
  background-color: #ead09f;
  background-image: url('../images/analytics-graphic2.png');
  background-position: 0% 23%;
  background-size: cover;
  outline-color: #fff;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.23);
  mix-blend-mode: normal;
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #524b4a;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #524b4a;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #524b4a;
}

.section.no-padding-below {
  padding-bottom: 0px;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-top: 30px;
  margin-bottom: 51px;
  padding-bottom: 0px;
  font-family: Nunito, sans-serif;
  color: #524b4a;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: Quicksand, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 15px;
  float: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #fff;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: Quicksand, sans-serif;
  color: #524b4a;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

.section-subtitle {
  margin-bottom: 68px;
  font-family: Nunito, sans-serif;
  color: #292322;
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature-row {
  margin-bottom: 14px;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.requisits-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.requisits-text {
  margin-bottom: 21px;
  font-family: Quicksand, sans-serif;
  color: #292322;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.icon {
  width: 96px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  position: absolute;
  width: 50px;
  height: 50%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.small-features-row {
  margin-top: 0px;
}

.client-logo {
  width: 16.6%;
}

.small-text {
  margin-bottom: 20px;
  font-family: Nunito, sans-serif;
  color: hsla(0, 0%, 100%, 0.31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.logo {
  width: 30%;
  height: auto;
  max-width: 60%;
  min-width: 30%;
  margin-right: 2%;
  margin-left: 2%;
  -o-object-fit: fill;
  object-fit: fill;
}

.bold-text-2 {
  border-style: none;
  border-width: 1px;
  border-color: #292322;
  font-family: Quicksand, sans-serif;
  color: #524b4a;
}

.heading {
  font-family: Quicksand, sans-serif;
  color: #292322;
  font-weight: 700;
}

.text-block {
  font-family: Quicksand, sans-serif;
  font-size: 2.5em;
  line-height: 3em;
  font-weight: 400;
  text-align: center;
}

.heading-2 {
  font-family: 'PT Sans', sans-serif;
}

.paragraph {
  font-family: Nunito, sans-serif;
}

.heading-3 {
  font-family: 'PT Sans', sans-serif;
}

.paragraph-2 {
  font-family: Nunito, sans-serif;
}

.heading-4 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.heading-5 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.heading-6 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.paragraph-3 {
  font-family: Nunito, sans-serif;
}

.paragraph-4 {
  font-family: Nunito, sans-serif;
}

.paragraph-5 {
  font-family: Nunito, sans-serif;
}

.heading-7 {
  color: #fff;
}

.section-subtitle-white {
  margin-bottom: 20px;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.heading-7-white {
  font-family: Quicksand, sans-serif;
  color: #fff;
}

.heading-8 {
  font-family: 'PT Sans', sans-serif;
  color: #292322;
  text-align: center;
}

.image {
  text-align: left;
}

.container {
  text-align: center;
}

.container-2 {
  text-decoration: line-through;
}

.image-2 {
  overflow: visible;
  margin-left: 10px;
  padding-top: 15px;
  padding-left: 0px;
  text-align: left;
  text-decoration: line-through;
}

.image-3 {
  max-width: 400px;
}

.image-4 {
  max-width: 400px;
}

.bold-text-3 {
  font-family: Quicksand, sans-serif;
}

.bold-text-4 {
  font-family: Quicksand, sans-serif;
}

.bold-text-5 {
  font-family: Quicksand, sans-serif;
}

.bold-text-6 {
  font-family: Quicksand, sans-serif;
}

.paragraph-6 {
  color: #939596;
}

.error-message {
  margin-bottom: 20px;
  margin-left: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.column {
  -o-object-fit: fill;
  object-fit: fill;
}

.button-2 {
  margin-top: 15px;
  padding: 15px 40px;
  background-color: #524b4a;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  text-align: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dropdown-toggle {
  padding: 26px 17px;
}

.icon-2 {
  margin-left: 0px;
}

.text-block-2 {
  padding-right: 30px;
  font-family: Quicksand, sans-serif;
}

.dropdown-link {
  background-color: #fff;
}

.dropdown-link-2 {
  background-color: #fff;
  font-family: Quicksand, sans-serif;
}

.dropdown-link-3 {
  background-color: #fff;
  font-family: Quicksand, sans-serif;
}

.text-span {
  font-family: Quicksand, sans-serif;
}

.container-4 {
  display: block;
}

.youtube-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.youtube-video-container::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}

.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .youtube-video-container {
    width: 896px;
    height: 504px;
  }
  .youtube-video-container::after {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }

  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }

  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }

  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }

  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }

  .nav-link.menu.w--open {
    background-color: #524b4a;
    color: #fff;
  }

  .nav-menu {
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #524b4a;
    text-align: left;
  }

  .newsletter-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-feature-group {
    margin-top: 0px;
  }

  .main-image {
    margin-top: 49px;
  }

  .div-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .dropdown-toggle {
    display: block;
    width: auto;
  }

  .dropdown-toggle.nav-link {
    display: block;
  }

  .icon-2 {
    color: #fff;
  }

  .text-block-2 {
    color: #fff;
  }

  .dropdown-toggle-2 {
    display: block;
    margin-right: 20px;
    margin-left: 20px;
    padding: 18px 10px 18px 0px;
  }

  .container-4 {
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }

  .logo-text {
    margin-top: 15px;
  }

  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }

  .section.main {
    margin-top: 51px;
  }

  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }

  .footer-title {
    margin-top: 35px;
  }

  .newsletter-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-subtitle {
    margin-bottom: 44px;
  }

  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }

  .divider {
    width: 100%;
  }

  .feature {
    margin-bottom: 32px;
    text-align: center;
  }

  .feature-icon {
    margin-bottom: 4px;
  }

  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }

  .div-block {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .section-subtitle-white {
    margin-bottom: 44px;
  }

  .container-2 {
    position: static;
  }

  .image-2 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
    clear: none;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .dropdown-toggle {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 479px) {
  .section.press {
    position: static;
  }

  .newsletter-form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-heading {
    padding-right: 5%;
    padding-left: 5%;
  }

  .section-subtitle {
    padding-right: 10px;
    padding-left: 10px;
  }

  .client-logo {
    width: 33.33%;
  }

  .small-text {
    position: static;
    left: 10%;
    right: 10%;
    z-index: auto;
    max-width: 100%;
    padding-right: 10%;
    padding-left: 10%;
    float: none;
    clear: none;
    text-align: center;
  }

  .div-block {
    overflow: visible;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }

  .logo {
    width: 50%;
  }

  .section-subtitle-white {
    padding-right: 10px;
    padding-left: 10px;
  }

  .image {
    position: static;
    overflow: visible;
    width: 90%;
    height: 90%;
    max-height: 100%;
  }

  .image-3 {
    -o-object-fit: fill;
    object-fit: fill;
  }

  .image-4 {
    width: 60%;
  }

  .container-3 {
    display: block;
    text-align: center;
  }

  .bold-text-6 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .error-message {
    margin-left: 0px;
  }
}

